<!DOCTYPE html>
<html>
<head>
  <title>Uxjobs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</head>
<body>

<%= yield %>

</body>
</html>
